__pycache__
node_modules
venv
THUMBS
STORAGE
PICTURES
HALF_SIZE
.venv
.env
storage
back/test_images
front/
front.back
front.svelte
front.sveltekit
vanespen.art.zip
.mypy_cache/
.vscode/
kube-deploy.postgres.yaml
kube-deploy.yml
nginx_config.conf
*.sql
Dockerfile*
back.bak/